@font-face {
  font-family: 'San-Francisco-Bold';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/FontsFree-Net-System-San-Francisco-Display-Bold.ttf');
}

@font-face {
  font-family: 'San-Francisco';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/SF-UI-Display-Regular.otf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
